{% extends 'cart/_base.html' %}
{% block title %}Cart{% endblock title %}
{% block content %}
<div class="shopping-cart section">
    {% if messages %}
    <div class="mx-5">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-1" role="alert">
            <strong>{{ message.tags }}!</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summary -->
                <table class="table shopping-summery">
                    <thead>
                        <tr class="main-hading">
                            <th>PRODUCT</th>
                            <th>NAME</th>
                            <th class="text-center">UNIT PRICE</th>
                            <th class="text-center">QUANTITY</th>
                            <th class="text-center">TOTAL</th> 
                            <th class="text-center"><i class="ti-trash remove-icon"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr id="cart-item-{{ item.id }}">
                            <td class="image" data-title="No"><img style="width:100px;height:auto"src="{{ item.photo.webp_image }}" alt="{{ item.photo.title }}"></td>
                            <td class="product-des" data-title="Description">
                                <p class="product-name"><a href="#">{{ item.photo.title }}</a></p>
                                <p class="product-des">{{ item.photo.description }}</p>
                            </td>
                            <td class="price" data-title="Price"><span>KShs.{{ item.photo.price }}</span></td>
                            <td class="qty" data-title="Qty"><span>{{ item.quantity }}</span></td>
                            <td class="total-amount" data-title="Total"><span>KShs.{{ item.price }}</span></td>
                            <td class="action" data-title="Remove"><a href="{% url 'remove' item.id %}" class="remove-item" data-item-id="{{ item.id }}"><i class="ti-trash remove-icon"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!--/ End Shopping Summary -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-5 col-12">
                            <!-- Left Section (Coupon, Shipping) -->
                        </div>
                        <div class="col-lg-4 col-md-7 col-12">
                            <div class="right">
                                <ul>
                                    <li>Cart Subtotal<span>KShs.{{ cart.total_price }}</span></li>
                                    <li class="last">You Pay<span>KShs.{{ cart.total_price }}</span></li>
                                </ul>
                                <div class="button5">
                                    <a href="{% url 'checkout' %}" class="btn">Checkout</a>
                                    <a href="{% url 'cart-home' %}" class="btn">Continue Shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}
