{% extends 'dashboard/_base.html' %}
{% block title %}My Photos{% endblock title %}
{% block navbarbrand %}My Photos{% endblock %}

{% block content %}
<div class="row">

<div class="col-md-12">
    <a href="{% url 'photo_create' %}" class="btn btn-warning" style="color:black; float:right;">Add Photo</a>  
</div>
<div class="col-md-12">

    <div class="card">
      

      <div class="card-header">
        <h4>My Photos</h4>

        </h4>    
        </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead class=" text-primary">
              <tr>
                <th style="color: #F49F1B;">
                  Title
                </th>
                <th  style="color: #F49F1B;">
                  Category
                </th>
                <th  style="color: #F49F1B;">
                  Approval
                </th>
                <th style="color: #F49F1B;">
                  Price
                </th>
                <th style="color: #F49F1B; text-align: center; vertical-align: middle;">
                  Thumbnail
                </th>              

                <th class="text-center" style="color: #F49F1B;">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              {% for photo in photos %}
              <tr>

                <td>
                  {{photo.title}}
                </td>
                <td>
                  {{photo.category}}
                </td>
                <td>
                  {% if photo.approval %}
                      {% if photo.approval.is_approved %}
                          <span style="color: green;">Approved</span>
                      {% else %}
                          <span style="color: red;">Not Approved</span>
                      {% endif %}
                  {% else %}
                      <span style="color: gray;">Pending</span>
                  {% endif %}
              </td>
                <td>
                  <strong>KShs. {{photo.price}}</strong>
                </td>
                <td style="text-align: center; vertical-align: middle;">
                  <img style="width:50px; height: auto;" class="thumbnail" src="{{photo.webp_image}}" alt="{{photo.title}}">
                </td>
                <td class="text-center">
                  
              <a href="{% url 'photo_detail' photo.id %}"  rel="tooltip" title="View Photo" class="btn btn-info btn-sm btn-icon">
                  <i class="fa fa-user"></i>
              </a>

              <a href="{% url 'photo_edit' photo.id %}"  rel="tooltip" title="Edit Photo" class="btn btn-success btn-sm btn-icon">

                  <i class="fa fa-edit"></i>

              </a>

              <a href="{% url 'photo_delete' photo.id %}"  rel="tooltip" title="Remove" class="btn btn-danger btn-sm btn-icon">

                  <i class="fa fa-times"></i>

              </a>

               </td>
              </tr>
              {% endfor %}  

              
            </tbody>
            <thead class=" text-primary">
              <tr>
                <th style="color: #F49F1B;">
                  Title
                </th>
                <th  style="color: #F49F1B;">
                  Category
                </th>
                <th style="color: #F49F1B;">
                  Price
                </th>
                <th style="color: #F49F1B; text-align: center; vertical-align: middle;">
                  Thumbnail
                </th>              

                <th class="text-center" style="color: #F49F1B;">
                  Actions
                </th>
              </tr>
            </thead>
          </table>

        </div>

      </div>
    </div>
</div>
</div>

  {% endblock content %}